.events{
	background-color: silver;
	margin: 3px;
	min-height: 200px;
	text-align: center;
}

.statistics{
	background-color: silver;
	margin: 3px;
	min-height: 200px;
	text-align: center;
	
}
.anouncements{
	background-color: silver;
	margin: 3px;
	min-height: 100px;
	text-align: center;
}